.conteinerProdutos{
    height: 20vh;
}

.esquerda {
    height: 18vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.direita {
    border-left: 0.15rem solid var(--cinza-bg);
    height: 18vh;
    overflow-y: auto;
    font-weight: 500;
    color: var(--cinza-texto);
}

.container-textarea {
    text-align: center;
}

textarea {
    background: none;
    border: 2px solid var(--cinza-bg);
    border-radius: 1vh;
    resize: none;
    color: var(--cinza-texto);
    padding: 1vh;
}

textarea:focus {
    outline: none;
}

.item p {
    display: inline-block;
    cursor: pointer;
}

.removerUnidade {
    background-color: red;
}

.selecionado {
    font-weight: bold;
}
