.valor{
    border-radius: 1.5vh;
    height: 20vh;
    width: 35vh;
}

.valor p{
    color: var(--branco);
    font-size: 2.5vh;
    font-weight: 500;
}

.valor h2{
    color: var(--branco);
}

.valores{
    display: flex;
    justify-content: space-between;
    margin-top: -2vh;
    width: 115vh;
}

.valor--recebido{
    background-color: var(--verde);
}

.valor--gasto{
    background-color: var(--vermelho-secundario);
}

.valor--lucro{
    background-color: var(--azul);
}

/*LABELS E INPUTS DO MODAL*/

.valor-gasto{
    background-color: var(--vermelho-principal);
    border-radius: 2vh;
    height: fit-content;
    width: fit-content;
    font-size: 4vh;
    font-weight: 500;
    color:  var(--branco);
}

.container__valor-gasto {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.input--vermelho::placeholder {
    color: var(--branco);
}


/*RADIO STYLE*/

.radio-inputs {
    display: inline-flex;
    border-radius: 2.5vh;
    background-color: var(--cinza-bg);
    padding: 0.5vh;
    width: 30vh;
    font-size: 1.7vh;
}

.radio {
    flex: auto;
}

.radio input {
    display: none;
}

.radio .name {
    display: flex;
    cursor: pointer;
    justify-content: center;
    border-radius: 2.5vh;
    padding: 0.5vh;
    transition: all 200ms ease-in-out;
}

.radio-inputs .radio--adicionar input:checked+.name {
    background-color: var(--verde);
    font-weight: 600;
    color: var(--branco);
}

.radio-inputs .radio--remover input:checked+.name {
    background-color: var(--vermelho-secundario);
    font-weight: 600;
    color: var(--branco);
}

/*GRAFICO*/

.grafico{
    background-color: var(--cinza-claro);
    max-width: 115vh;
    max-height: 40vh;
    border-radius: 1vh;
    padding: 2vh;
}