body {
  align-items: center;
  background-image: url("../imagens/ckpbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  font-family: "Fredoka", sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

header h2{
  color: var(--branco);
  font-weight: 600;
  font-size: 5vh;
}

.credenciais{
  background-color: var(--vermelho-principal);
  margin: auto;
  width: 50vh;
  border-radius: 5vh;
  align-items: center;
  height: fit-content;
  margin-left: 40vh;
}

.credenciais input{
  width: 40vh;
  height: 5vh;
  border-radius: 5vh;
  font-size: larger;
  padding-left: 3vh;
}

main{
  display: inline-flex;
}

.mensagem-erro{
  color: var(--laranja);
  font-weight: bold;
  text-transform: uppercase;
}