* {
    font-family: "Fredoka", sans-serif;
}

:root {
    --azul: #2971DE;
    --branco: #E9E9E9;
    --branco-hover: #FFFFFF;
    --cinza-bg: #D9D9D9;
    --cinza-claro: #F3F3F3;
    --cinza-texto: #474747;
    --cinza-scroll: #7D7D7D;
    --verde: #30B035;
    --verde-escuro: #00A505;
    --vermelho-principal: #CE2323;
    --vermelho-secundario: #F1363A;
    --vermelho-escuro: #B12626;
    --amarelo: #F2CF53;
    --amarelo-escuro: #D2B342;
    --laranja: #FFA946;
}

.topo {
    background-color: var(--vermelho-principal);
    height: 10vh;
}

.topo img {
    padding: 1vh;
    height: 10vh;
}


/*LOADING*/

/* Estilos para a tela de loading */
#loading-screen {
    position: fixed;
    /* Fixa o overlay em relação à tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Fundo preto semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 35vh;
    height: 18vh;
    border-radius: 2vh;
    background: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh;
    box-shadow: 0.2vh 0.2vh 1vh -0.5vh;
    color: var(--cinza-texto);
    font-weight: 500;
    font-size: 2vh;
    z-index: 9999;
}

.loading {
    width: 50%;
    height: 1vh;
    background: var(--cinza-bg);
    border-radius: 1vh;
    position: relative;
    overflow: hidden;
}

.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 1vh;
    background: var(--vermelho-principal);
    border-radius: 1vh;
    z-index: 1;
    animation: loading 0.6s alternate infinite;
}

.loading label {
    font-size: 1.8vh;
    animation: bit 0.6s alternate infinite;
}

/* Animação de carregamento */
@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/*MENU DE NAVEGAÇÃO LATERAL*/

.menu {
    height: 90vh;
    background-color: var(--vermelho-secundario);
}

ul {
    padding-top: 2vh;
    margin-left: 3vh;
}

ul a {
    color: var(--branco);
    font-size: 1.8vh;
    font-weight: 500;
    text-decoration: none;
    transition: 100ms;
    letter-spacing: -0.5px;
}

ul a:hover {
    color: var(--branco-hover);
    letter-spacing: 1px;
}

/*CONTEÚDO PRINCIPAL*/

.cabecalho h1 {
    font-weight: 600;
    color: var(--cinza-texto);
}

.linha {
    border-top: 0.4vh solid var(--cinza-texto);
    border-radius: 1vh;
}

.conteudo {
    background-color: var(--branco-bg);
}

.select {
    border-radius: 0.9vh;
    background-color: var(--cinza-bg);
    color: var(--cinza-texto);
    height: 4vh;
}

.select--modal {
    width: 22vh;
    margin-bottom: 1rem;
}

.pesquisa label {
    align-content: center;
    font-size: 2vh;
}

.pesquisa {
    align-items: center;
}

.botao {
    align-self: center;
}

/*MODAL*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.5);
    overflow: hidden;
}

.modalContainer {
    background-color: #E9E9E9;
    margin: 7% auto;
    width: 60vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    overflow: hidden;
}

.modalContainer header {
    background-color: var(--vermelho-principal);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    color: var(--branco);
    display: inline-flex;
    align-items: center;
    padding: 2vh 5vh;
}

.modalContainer header span {
    width: 5vh;
    height: 8vh;
    margin-right: 2vh;
    font-size: 5vh;
}

.modalContainer form {
    padding: 2vh;
}

.modalContainer footer {
    padding: 3vh;
}

.label-input {
    padding: 2vh;
}

.grid-form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3vh;
    align-items: center;
    font-weight: 500;
    max-height: 50vh;
    overflow-y: auto;
    overflow: hidden;
}

.grupo-form {
    display: contents;
}

.grupo-form label {
    text-align: left;
}

.grupo-form select {
    width: 15vh;
}

.label-input label {
    font-weight: 500;
    color: var(--cinza-texto);
    font-size: larger;
}

input:focus {
    outline: none;
}

input {
    background-color: var(--cinza-bg);
    border-radius: 1vh;
    height: 4vh;
    border: none;
    color: var(--cinza-texto);
    padding: 1vh;
}

.label-input select {
    height: 4vh;
}

/*FORMATAÇÃO DE TABELA*/

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    text-align: center;
}

.tabela-responsiva {
    max-height: 50vh;
    overflow-y: auto;
}

.table thead th:first-child {
    border-top-left-radius: 0.50rem;
}

.table thead th:last-child {
    border-top-right-radius: 0.50rem;
}

.table th {
    background-color: var(--cinza-bg);
    font-weight: 500;
    color: var(--cinza-texto);
    font-size: 1.5vh;
    position: sticky;
    top: 0;
}

.table-hover {
    cursor: pointer;
}

.table td {
    color: var(--cinza-texto);
    font-weight: 500;
    font-size: 2vh;
    padding: 4vh;
}

.tabela-responsiva {
    scrollbar-width: thin;
}

.pesquisa label {
    align-content: center;
    font-size: 2.5vh;
}

select {
    border-radius: 0.9vh;
    border: none;
    background-color: var(--cinza-bg);
    color: #474747;
    font-size: large;
    margin-right: 2.5vh;
}

/*BOTÕES*/

.botao {
    font-family: "Fredoka";
    height: 4vh;
    width: 20vh;
    border-radius: 5vh;
    color: #E9E9E9;
    transition: all 300ms;
    font-size: 2vh;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    border: none;
}

.botao--login {
    background-color: var(--amarelo);
    color: var(--cinza-texto);
    font-weight: 600;
    letter-spacing: 0.5vh;
    width: 40vh;
    height: 5vh;
}

.botao--vermelho {
    background-color: var(--vermelho-secundario);
}

.botao--verde {
    background-color: var(--verde);
}

.botao:hover {
    color: #E9E9E9;
    transform: scale(1.1);
}

.botao::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    transform: skewX(45deg);
    z-index: -1;
    transition: 500ms;
}

.botao--vermelho::before {
    background-color: var(--vermelho-principal);
}

.botao--verde::before {
    background-color: var(--verde-escuro);
}

.botao--login::before {
    background-color: var(--amarelo-escuro);
}

.botao--login:hover {
    color: var(--cinza-texto);
}

.botao:hover::before {
    width: 250%;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 0.6vh;
}

::-webkit-scrollbar-track {
    background-color: var(--cinza-bg);
    border-radius: 1vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinza-scroll);
    border-radius: 1vh;
}

/*DROPDOWN PARA LOGOUT*/

/* Estilizando o botão do dropdown */
.dropdown {
    display: inline-block;
}

.dropdown-button {
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    font-size: 1.7vh;
    border: none;
    width: 15vh;
    border-radius: 3vh;
    transition: 200ms;
    scale: 1;
}

.dropdown-button:hover {
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cinza-bg);
    min-width: 15vh;
    margin-top: 2.3vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.dropdown-content a {
    color: black;
    padding: 1vh;
    text-decoration: none;
    display: block;
    padding-top: 3vh;
}

.dropdown-content a:hover {
    background-color: var(--branco);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.fa-user {
    color: var(--vermelho-secundario);
}