.grid-form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5vh;
    align-items: center;
    font-weight: 500;
}

.grupo-form {
    display: contents;
}

.grupo-form label {
    text-align: left;
}

#lista-de-compras {
    display: none;
}

.gerar-relatorio {
    width: 100%;
    justify-content: center;
}

label {
    display: inline-block;
}