:root{
    --vermelho-principal: #CE2323;
    --vermelho-secundario: #F1363A;
    --branco: #E9E9E9;
    --branco-hover: #ffffff;
    --cinza-bg: #D9D9D9;
    --cinza-texto: #474747;
    --verde: #30B035;
    --azul: #2971DE;
 }

.lol{
    background-color: var(--cinza-bg) !important;
    border-top-left-radius: 5vh;
}

.custom-thead{
    background-color: #2971DE
}